.nav{
	background: #fff;
    border-bottom: 1px dashed #d9d9d7;
}
.nav-search{
	border-bottom:3px solid #de0a09;

}
.nav-log{
	background-color: #de0a0a;
    height: 50px;
}
.nav-log .nav-meun,.nav-log .nav-sign{
    height: 50px;
    line-height: 50px;
}
.nav-meun ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.nav-sign ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.nav-itme-1 {
    flex-grow: 1;
    flex-shrink: 0;
}
.nav-channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-itme {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    padding: 5px 0;
}
h3.nav-h3 a{
    color: #ad0e0e;
    white-space: nowrap;
    font: 20px '微软雅黑';
    font-weight: bold;
    margin-right: 10px;
    cursor:pointer;
}
h3.nav-h3 a:hover,ul.nav-item-ul li a:hover{
	color: #de0a0a;
}
ul.nav-item-ul {
    display: block;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
ul.nav-item-ul  li a{
    cursor:pointer;
    font-size: 15px;
    margin: 0 5px;
    white-space: nowrap;
}
.title-mod h3 a{
	color: #de0a0a;
}
.title-mod h3{
    border-top: 2px solid #de0a09;
}
.title-aside h3{
    border-left: 4px solid #de0a09;
    color: #de0a0a;
}
.title-aside h3 a{
    color: #de0a0a;

}
.headline .content > p a:hover, .main a:hover{
    color: #de0a0a;

}
.hl-rmd a{

}
.title-mod{
}
.search-roll .mask{
	background-color: #de0a0a;
}
.roll-con button{
	background-color: #fff;
}
.roll-text .search-label{
	margin-left: 10px;
}
.video .title-block h3 a, .video .title-block li a:hover, .video .title-block .link-info{
	color: #de0a0a;
}
.video .title-block{
	border-top: 3px solid #de0a0a;
}
.stock .title-block h3 a, .stock .title-block li a:hover, .stock .title-block .link-info, .stock .title-tab .link-more:hover, .stock .nav-tab li.active a, .stock .nav-tab a:hover, .stock .title-aside h3 a:hover{
	color: #de0a0a;
}
.stock .title-block.financy .title-block,.financy .title-block,.invest .title-block,.stock .title-block{
	border-top: 3px solid #de0a0a;

}
.stock .title-aside h3,.financy .title-aside h3,.invest .title-aside h3{
	border-left: 4px solid #de0a0a;

}
.financy .title-block h3 a, .financy .title-block li a:hover, .financy .title-block .link-info, .financy .title-tab .link-more:hover, .financy .nav-tab li.active a, .financy .nav-tab a:hover, .financy .title-aside h3 a:hover{
	color: #de0a0a;
}
.invest .title-block h3 a, .invest .title-block li a:hover, .invest .title-block .link-info, .invest .title-tab .link-more:hover, .invest .nav-tab li.active a, .invest .nav-tab a:hover, .invest .title-aside h3 a:hover{
	color: #de0a0a;
}
.bidu-list h6{
	color: #e12a2b
}
.transition img{
 width: 160px;
}
.nav-search .search-input2.clearfix {
    padding-top: 12px;
}
.kline-column-icon{
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    background: url(http://test.powerdj.org.cn/static/index/images/research-con-m3.png) no-repeat;
    background-size: 100%;
}
.gw-write-n{

}
.table_right{
    border:none;
}
.server-list ul li{
    position: relative;
    border-bottom: none;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.server-list ul li a{
    margin-left: 30px;
}
.server-list ul li::after{
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../img/dang_active.png) no-repeat;
    background-size: 25px 25px;
    top: 7px;
}
.server-moudle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.server-moudle .moudle-main{
    width: 125px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 21px 0 5px 0;
}
.server-moudle .moudle-main1{
    background-color: rgba(245, 94, 107, .1);

}
.server-moudle .moudle-main2{
    background-color: rgba(255, 210, 77, .1);
    color: #FAD97D
}
.server-moudle .moudle-main3{
    background-color: rgba(149, 142, 251, .1);
    color: #958EFB;

}
.server-moudle .moudle-main4{
    background-color:rgba(84, 216, 242, .1);
    color: #77E3F9

}
.server-moudle .moudle-main1 p{
    color: #F8848E;

}
.server-moudle .moudle-main2 p{
    color: #FAD97D;
    
}
.server-moudle .moudle-main3 p{
    color: #958EFB;
    
}
.server-moudle .moudle-main4 p{
    color: #77E3F9;
    
}
.server-moudle .moudle-main a{
    display: block;
    margin: auto;
}
.server-moudle .moudle-main a img{
    width: 50px;
    display: block;
    margin: auto;
}


.server-moudle .moudle-main a p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.title-mod h3{
}

.channel-dwpd h3::after{
    position: absolute;
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: url(http://test.powerdj.org.cn/static/index/images/label-nameimg0.png) no-repeat;
    background-size: 23px 23px;
    top: 12px;
    left: 10px;
}

.channel-dwpd h3 a,.channel-dlhy h3 a,.channel-fdpd h3 a,.channel-djpd h3 a{
    margin-left: 40px;
}
.channel-dlhy h3::after{
    position: absolute;
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: url(http://test.powerdj.org.cn/static/index/images/label-nameimg3.png) no-repeat;
    background-size: 23px 23px;
    top: 12px;
    left: 10px;
}
.channel-fdpd h3::after{
    position: absolute;
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: url(http://test.powerdj.org.cn/static/index/images/label-nameimg1.png) no-repeat;
    background-size: 23px 23px;
    top: 12px;
    left: 10px;
}
.channel-djpd h3::after{
    position: absolute;
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: url(http://test.powerdj.org.cn/static/index/images/label-nameimg2.png) no-repeat;
    background-size: 23px 23px;
    top: 12px;
    left: 10px;
}












